div.App {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
}

div.App > header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 2rem;
    padding: 0 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

div.App > div.input > div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

div.App > div.input > div > * {
    flex: 1 1 auto;
}

div.App > div.play {
    display: flex;
    justify-content: center;
    align-items: center;
}

div.App > div.play > button.button {
    display: block;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35vmin;
    height: 35vmin;
    cursor: pointer;
}
